.intro{
    color: rgb(170, 12, 170) !important;
    font-weight: bold !important;
}
.overview{
    color: rgb(52, 52, 150) !important;
}
.discp{
    color: rgb(233, 233, 169);
}
.discp2{
    color: lightyellow;
}